<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Amarjeet kumar</title>
<H1><B>
<font face="VINER HAND LTC"COLOR="#000099">
<p align="center"> *****WELCOME*****

<!-- <P align="center">
<FONT FACE="VINER HAND LTC"COLOR="#FF0066">
<marquee> 
                  RSAP4YOU  Blood Bank
</marquee>
<br>
</P>
</FONT>
<FONT FACE="VINER HAND LTC"COLOR="red">

               <marquee behavior="alternate"> 
                RSAP4YOU  
                </marquee>
</FONT>
<br> -->

<!-- <font face="viner hand ltc"color"black">
<marquee behavior="scrool">
  RSAP4YOU  
                </marquee>
                <br> -->
                
  <!-- <font face="viner hand ltc"color"blue">
<marquee behavior="slide">
  RSAP4YOU  
                </marquee>
                <br>               -->
                
  <!-- <FONT FACE="VINER HAND LTC"COLOR="#FF0066">
<marquee direction="down"> 
  RSAP4YOU  
</marquee>              
 <br>                -->
                
                
 <FONT FACE="VINER HAND LTC"COLOR="#FF0066">
<marquee direction="up"> 
  RSAP4YOU  
</marquee>               
    <br>            
                
  <!-- <FONT FACE="VINER HAND LTC"COLOR="red">
<marquee direction="right">
  RSAP4YOU  
</marquee>



 <FONT FACE="VINER HAND LTC"COLOR="#FF0066">
<marquee direction="left"> 
  RSAP4YOU  
</marquee> -->










              
                
                
 
                


</head>

<body>
</body>
</html>
