
{% include "blood/navbar.html" %}
 
 
{% block content %}
    
<div class="about_page">
 <div class = "Contact_body">
   <!-- page image -->
   <header id="page-header">
        <div class="col-md-6 m-auto text-center">
           
             
            <h1>Contact_Us</h1>
            <p class="lead">Janiya pir ka tekra ,Ganga Row house 
                <br>Near Vinzol crossing road,Ahmedabad
                <br>Email:- kumaramarjeetraj7725@gmail.com
                <br>Mobile:-7479441094
                <br> <br> <br> <br>
                {% comment %} <a href="https://www.facebook.com/profile.php?id=100041391041692" class="fa fa-facebook"></a>
                <a href="https://api.whatsapp.com/send?phone=917479441094&text=Hello%20Amarjeet.%0d%0aHow%20are%20you%20%3f%0d%0aI%20came%20from%20your%20website.&source=&data=#" class="fa fa-whatsapp"></a>
                <a href="https://www.instagram.com/kumar_amarjeet_raj/" class="fa fa-instagram"></a>
                <a href="https://twitter.com/ARajeshmahto?t=elDKMEJYwvCqHFy1OT_rjQ&s=08" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com/channel/UCIUsuwUh5_TtpWCmwMkyXQQ" class="fa fa-youtube"></a>
                 {% endcomment %}
             
            </p>

        </div>
    </header>
 
    <!-- address -->
    <!--<div class="address text-center">
        <address class="p-5 font-weight-bold">{{ contact.contact_text }}</address>
    </div>-->
</div>

{% include "blood/footer.html" %}
 
 
{% endblock  %}